@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans&family=Nunito:wght@400;500&family=Source+Code+Pro:wght@700&display=swap');
body{
	font-family: 'IBM Plex Sans';
	margin:auto;
}
.main{
  display:flex;
  justify-content:baseline;
}
#header{
	margin:1rem;
}
#logo{
	padding-left:3.3rem;
}
#opt>ul{
  list-style:none;
}
#opt>ul>li>button{
  border:none;
  display:flex;
  justify-content:baseline;
  margin:0.5rem;
  width:10rem;
  padding:0.2rem;
  background-color:white;
  transition:0.2;
}
#opt>ul>li>button>img{
  margin:0.5rem;
}
#opt>ul>li>button>p{
  font-size:1rem;
  margin-left:0.9rem;
}
#opt>ul>li>button:hover{
  cursor:pointer;
  background-color:rgb(200,200,200,50);
  transition:0.2s;
  border-radius:4rem;
}
#tweet{
  margin:0.5rem;
}
#tweet>button{
  border-radius:0.9rem;
}
#content{
	overflow:scroll;
	height:100vh;
	padding-left:3rem;
	padding-right:3rem;
	width:45vw;
}
#content{
	-ms-overflow-style: none;  
  scrollbar-width: none;
}
#content::-webkit-scrollbar{
	display:none;
}
#content>h2{
	padding:none;
	margin:none;
}
#input{
	list-style: none;
	display:flex;
	justify-content: space-evenly;
	margin:1rem;
}
#input>li{
	padding:0.3rem;
}
#inputln>button{
	height:3rem;
	width:5rem;
	border:none;
	border-radius:7rem;
	background-color:#1DA1F2;
	color:white;
}
#fim{
	cursor: pointer;
}
#inputln{
	display: flex;
	justify-content: space-between;
}
#twhead>input{
	font-size:1.3rem;
	border:none;
	word-wrap: break-word;
	width:30rem;
	padding:1rem;
	margin:0.8rem;
	outline:none;
}
#dp{
    border-radius:3.4rem;
}
#addimg,#createpoll,#addemo,#addtweet{
	cursor:pointer;
}
#ttn{
	border:1px solid rgb(0,0,0,10%);
	padding:1rem;
}
#twinfo{
	margin:1rem;
}	
#ttn>div{
	margin:0.5rem;
}
#profilebtn{
	cursor:pointer;
	border:none;
	font-weight: bold;
	font-size:1rem;
}
#comment{
   cursor:pointer;
	border:none;
    margin:0.1rem;
	background:none;
    display: flex;
    justify-content: baseline;
}
#comment>p{
	margin:0.2rem;
}
#date{
    font-size:0.8rem;
}
#like{
	cursor:pointer;
	border:none;
    margin:0.2rem;
	background:none;
    display: flex;
    justify-content: baseline;
}
#like>p{
    margin:0.2rem;
}
#interactions{
    display:flex;
    justify-content: baseline;
}
#twcont{
    padding:1rem;    
}
#twimg{
    max-height: 400px;
    max-width: 500px;
    position:relative;
    overflow: hidden;
}
#output{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#twpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}
#cmbar{
	
	border:1px solid rgb(0,0,0,10%);
	margin:2rem;
}
#cmbar>p,h2{
	margin:2rem;
}
#combox{
	margin:2rem;
}
#cmmt{
	padding:0.7rem;
	height:5rem;
	width:30rem;
	resize:none;
	border:1px black solid;
	border-radius:0.5rem;
	outline:none;
}
#cmmt:focus{
	outline:none;
}
#addcmmt{
	color:white;
	cursor:pointer;
	padding:0.9rem;
	width:7rem;
	background-color:#1DA1F2;
	border:none;
	border-radius:3rem;
}
#comment-profile{
    display:flex;
    justify-content: baseline;
}
#cmmsg{
    margin:1rem;
	border:1px solid rgb(0,0,0,10%);
    padding:0.7rem;
}
#comment-profile>img{
    border-radius:3rem;
    padding:0.7rem;
}
#twinfo>img{
    border-radius:3rem;
}
#cmmsg>p{
    padding:0.7rem;
}
