body{
	margin:auto;
}
.main{
  display:flex;
  justify-content:baseline;
}
#header{
	margin:1rem;
}
#logo{
	padding-left:3.3rem;
}
#opt>ul{
  list-style:none;
}
#opt>ul>li>button{
  border:none;
  display:flex;
  justify-content:baseline;
  margin:0.5rem;
  width:10rem;
  padding:0.2rem;
  background-color:white;
  transition:0.2;
}
#opt>ul>li>button>img{
  margin:0.5rem;
}
#opt>ul>li>button>p{
  font-size:1rem;
  margin-left:0.9rem;
}
#opt>ul>li>button:hover{
  cursor:pointer;
  background-color:rgb(200,200,200,50);
  transition:0.2s;
  border-radius:4rem;
}
#tweet{
  margin:0.5rem;
}
#tweet>button{
  border-radius:0.9rem;
}
#content{
	width:auto;
	align-items: left;
}
#content>h2{
	padding:none;
	margin:none;
}
#input{
	list-style: none;
	display:flex;
	justify-content: space-evenly;
	margin:1rem;
}
#input>li{
	padding:0.3rem;
}
#inputln>button{
	height:3rem;
	width:5rem;
	border:none;
	border-radius:7rem;
	background-color:#1DA1F2;
	color:white;
}
#inputln{
	display: flex;
	justify-content: space-between;
}
#header>input{
	font-size:1.3rem;
	border:none;
	height:40px;
	padding:1rem;
	margin:0.8rem;
	outline:none;
}

