.main{
  display:flex;
  justify-content:baseline;
}
#opt>ul{
  list-style:none;
}
#opt>ul>li>button{
  border:none;
  display:flex;
  justify-content:baseline;
  margin:0.5rem;
  width:10rem;
  padding:0.2rem;
  background-color:white;
  transition:0.2;
}
#opt>ul>li>button>img{
  margin:0.5rem;
}
#opt>ul>li>button>p{
  font-size:1rem;
  margin-left:0.9rem;
}
#opt>ul>li>button:hover{
  cursor:pointer;
  background-color:rgb(200,200,200,50);
  transition:0.2s;
  border-radius:4rem;
}
#tweet{
  margin:0.5rem;
}
#tweet>button{
  border-radius:0.9rem;
}
