<!doctype html>
<html>
  <head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='./style.css'>
    <script src='./home.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='main'>
        <div id='header'>
	  <img id="logo" src='./src/twitter.png' height="35" width="35">
          <div id='opt'>
            <ul>
              <li>
                <button id="tohome">
                  <img src='./src/home.png' height=30 width=30> 
                  <p>Home</p>
                </button>
              </li>
              <li>
                <button id="toexplore">
                  <img src='./src/explore.png' height=30 width=30> 
                  <p>Explore</p>
                </button>
              </li>
              <li>
                <button id="tonotification">
                  <img src='./src/notification.png' height=30 width=30> 
                  <p>Notification</p>
                </button>
              </li>
              <li>
                <button id="tomessage">
                  <img src='./src/email.png' height=30 width=30> 
                  <p>messages</p>
                </button>
              </li>
              <li>
                <button id="tobookmark">
                  <img src='./src/bookmark-white.png' height=30 width=30> 
                  <p>Bookmarks</p>
                </button>
              </li>
              <li>
                <button id="toprofile">
                  <img src='./src/user.png' height=30 width=30> 
                  <p>Profile</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/more.png' height=30 width=30> 
                  <p>More</p>
                </button>
              </li> 
            </ul>
          </div>
          <div id='profile'>
		  <h2 id="curruser" ><%= username %></h2>
		  <form action="logout" method="GET">	
		  	<button type="submit" id="logout">Logout</button>
		  </form>

          </div>
        </div>
        <div id='content'>
            <h2>Home</h2> 
            <div id="header">
                <img src='<%= displaypicture %>' id="dp" referrerpolicy="no-referrer" height="40" width="40">
                <input type="text" id="tw" placeholder="What's happening?">
                <div id="twimg">
                    <img id="output">
                </div>
                <div id="inputln">
                    <ul id="input">
                      <li id="addimg">
                        <input type="file" accept="image/*" id="file" onchange="loadfile(event)" hidden>
                        <label for="file">
                            <img id="fim" src="./src/image.png" height="25" width="25" alt="image">
                        </label>
                      </li>
                    <li id="createpoll" ><img src="./src/statistics.png" height="25" width="25" alt="poll"></li>
                    <li id="addemo" ><img src="./src/happy.png" height="25" width="25" alt="emoji"></li>
                    </ul>
                    <button id="addtweet">Tweet</button>
                </div>
            </div>
            <div id="colon">
                   
            </div>
        </div>
        <div id='search'>
		<input type="text" placeholder="search">
	</div>
      </div>
    </div>
  </body>
</html>
