<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='./style.css'>
    <script src='./script.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='main'>
        <div id='header'>
          <div id='opt'>
            <ul>
              <li>
                <button>
                  <img src='/src/home.png' height=30 width=30> 
                  <p>home</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/explore.png' height=30 width=30> 
                  <p>Explore</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/notification.png' height=30 width=30> 
                  <p>Notification</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/email.png' height=30 width=30> 
                  <p>messages</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/bookmark-white.png' height=30 width=30> 
                  <p>Bookmarks</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/list.png' height=30 width=30> 
                  <p>Lists</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/user.png' height=30 width=30> 
                  <p>Profile</p>
                </button>
              </li>
              <li>
                <button>
                  <img src='./src/more.png' height=30 width=30> 
                  <p>More</p>
                </button>
              </li> 
            </ul>
          </div>
          <div id='tweet'>
            <button>Tweet</button>
          </div>
          <div id='profile'>
            <button><%= username %></button>
          </div>
        </div>
        <div id='content'></div>
        <div id='search'></div>
      </div>
    </div>
  </body>
</html>
